<section class="bg-b-dark-blue min-h-screen flex-col w-full flex items-center justify-center gap-6 ">
    <app-loading-screen [isLoading]="isLoading"></app-loading-screen>
    <div class="max-w-7xl w-11/12 h-full lg:px-0 px-5 py-16">
        <div class="flex items-center justify-center gap-6 flex-col">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-white  ">
                <img class="w-44 mr-2"
                    src="img/logo.png"
                    alt="logo">
            </a>
            <div class="w-full bg-zinc-50 rounded-lg shadow md:mt-0 sm:max-w-96 xl:p-0">
                <div class="p-6 w-full flex flex-col gap-3">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Ticket Barão
                    </h1>
                    <form class="flex flex-col gap-3" [formGroup]="formulario" (ngSubmit)="handleLogin()">
                        <mat-form-field class="example-full-width">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Senha</mat-label>
                            <input matInput type="password" formControlName="password">
                        </mat-form-field>
                        <p>Primeiro acesso?<a [routerLink]="ROUTE_CONFIG.SIGNUP.routerLink"
                                class="cursor-pointer font-bold text-b-dark-blue"> Cadastre-se</a></p>
                        <button
                            class="rounded bg-b-blue text-white text-center p-3 font-semibold  hover:opacity-90 cursor-pointer">ENTRAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>