<div class="w-full h-full overflow-auto flex p-8 pt-24 pb-12">
    <app-loading-screen [isLoading]="isLoading"></app-loading-screen>
    <app-card [overflow]="false" [title]="'Lista de tickets'">
        <form (submit)="filtrar()" [formGroup]="form">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 w-full items-end">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option [value]="null">Nenhum</mat-option>
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria.categoryId">
                            {{ categoria.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Código de aluno</mat-label>
                    <input matInput formControlName="studentCode" />
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="title" />
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Data inicial</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="initialDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Data final</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="endDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Instituição</mat-label>
                    <mat-select (selectionChange)="handleGetLocations($event.value)" formControlName="institutionId">
                        <mat-option [value]="null">Nenhum</mat-option>
                        <mat-option *ngFor="let item of instituicoes" [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Ambiente</mat-label>
                    <mat-select formControlName="locationId">
                        <mat-option [value]="null">Nenhum</mat-option>
                        <mat-option *ngFor="let item of locations" [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="w-full p-2 px-1 pr-4 border-b border-b-[#44474e] bg-[#e0e2ec] rounded-t-sm mb-5">
                    <mat-checkbox formControlName="process">Exibir processados</mat-checkbox>
                </div>

                <button type="submit" mat-flat-button color="primary" class="w-fit">
                    Pesquisar
                </button>
            </div>
        </form>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Titulo </th>
                <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
            </ng-container>
            <ng-container matColumnDef="codigo_aluno">
                <th mat-header-cell *matHeaderCellDef> Código aluno </th>
                <td mat-cell *matCellDef="let element"> {{ element.studentCode }} </td>
            </ng-container>
            <ng-container matColumnDef="instituicao">
                <th mat-header-cell *matHeaderCellDef> Instituição </th>
                <td mat-cell *matCellDef="let element"> {{ element.institutionName }} </td>
            </ng-container>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt }} </td>
            </ng-container>
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{ element.categoryName }} </td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Ambiente </th>
                <td mat-cell *matCellDef="let element"> {{ element.locationName }} </td>
            </ng-container>
            <ng-container matColumnDef="process">
                <th mat-header-cell *matHeaderCellDef> Processado </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.processed" [checked]="element.processed"
                        (change)="handleProcessTicket($event,element.ticketId)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <div class="w-full flex justify-end">
                        <button mat-flat-button color="primary" (click)="verificar(element.ticketId)">
                            Visualizar
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="pagination.totalRecords" [pageSize]="pagination.pageSize"
            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
        </mat-paginator>
    </app-card>
</div>