<div class="flex flex-col gap-6 p-12">
    <h2 class="font-bold text-2xl">Alterar minha senha </h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nova senha</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Senha atual</mat-label>
        <input matInput formControlName="currentPassword" />
      </mat-form-field>
      <div class="flex justify-center gap-3">
        <button mat-button (click)="close()">Cancelar</button>
        <button mat-button color="primary" type="submit" [disabled]="form.invalid">
          Confirmar
        </button>
      </div>
    </form>
  </div>