<section class="bg-b-dark-blue min-h-screen flex-col w-full flex items-center justify-center gap-6">
    <app-loading-screen [isLoading]="isLoading"></app-loading-screen>
    <div class="max-w-7xl w-11/12 h-full lg:px-0 px-5 py-16">
        <div class="flex items-center justify-center gap-6 flex-col">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-white">
                <img class="w-44 mr-2"
                    src="https://www2.baraodemaua.br/padronizacao/imagens/nova-branca/logo-barao-branco-horizontal-nova.png"
                    alt="logo">
            </a>

            <div *ngIf="!cadastroFinalizado" class="w-full bg-zinc-50 rounded-lg shadow md:mt-0 sm:max-w-96 xl:p-0">
                <div class="p-6 w-full flex flex-col gap-3">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Ticket Barão - Cadastro de {{ tipoCadastro | titlecase }}
                    </h1>

                    <form class="flex flex-col gap-3" [formGroup]="formularioAluno" (ngSubmit)="handleSignupAluno()">
                        <mat-form-field class="example-full-width">
                            <mat-label>Nome completo</mat-label>
                            <input matInput type="text" formControlName="name">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Código de aluno</mat-label>
                            <input matInput formControlName="studentCode">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Senha</mat-label>
                            <input matInput type="password" formControlName="password">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Confirmar senha</mat-label>
                            <input matInput type="password" formControlName="confirmPassword">
                        </mat-form-field>

                        <p>Já acessou antes? <a class="font-bold text-b-dark-blue"
                                [routerLink]="ROUTE_CONFIG.LOGIN.routerLink">Entre agora</a></p>

                        <button
                            class="rounded bg-b-blue text-white text-center p-3 font-semibold hover:opacity-90 cursor-pointer"
                            [disabled]="isLoading">
                            {{ isLoading ? 'CARREGANDO...' : 'TERMINAR CADASTRO' }}
                        </button>
                    </form>
                </div>
            </div>

            <div *ngIf="cadastroFinalizado"
                class="w-full bg-green-100 rounded-lg shadow md:mt-0 sm:max-w-96  p-6 flex flex-col items-center text-center">
                <h2 class="text-xl font-bold text-green-700">Cadastro Finalizado!</h2>
                <p class="text-green-600">Seu cadastro foi concluído com sucesso.</p>
                <a [routerLink]="ROUTE_CONFIG.LOGIN.routerLink"
                    class="mt-4 bg-b-blue text-white p-3 rounded font-semibold hover:opacity-90 cursor-pointer">Ir para
                    Login</a>
            </div>
        </div>
    </div>
</section>