<div class="w-full h-full overflow-auto flex p-8 pt-24 pb-12">
    <app-loading-screen [isLoading]="isLoading"></app-loading-screen>
    <app-card [overflow]="false" [title]="'Categorias'">
        <form [formGroup]="formulario" class="flex gap-3 items-end flex-wrap w-full">
            <mat-form-field class="max-w-60 w-full" appearance="fill">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="description" />
            </mat-form-field>
            <button mat-flat-button color="primary" class="mb-6" (click)="onSubmit()">
                Adicionar
            </button>
        </form>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <div class="w-full flex justify-end">
                        <button mat-flat-button color="warn" (click)="deleteCategory(element.categoryId)">
                            Deletar
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="pagination.totalRecords" [pageSize]="pagination.pageSize"
            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
        </mat-paginator>
    </app-card>
</div>