@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-b-green: #2CB79A;
    --color-b-blue: #1F99D5;
    --color-b-dark-blue: #2462AE;
}

.icon-white {
    color: white !important;  
}

.icon-red {
    color: rgb(255, 107, 107) !important;  
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  
  .mat-mdc-button {
      color: #ffffff !important; /* Cor do texto branca */
      
      &:hover {
          background-color: #0000008c !important; /* Background preto no hover */
      }
  }

  &.app-notification-error {
      --mdc-snackbar-container-color: #f23a2f;
  }

  &.app-notification-success {
      --mdc-snackbar-container-color: #43a446;
  }
}